<!-- 
<div class="row" >
    <div class="col">
       <h3 style="text-align:center">Invite your friends</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-6 col-lg-6" ><h3 class="float-right">&earn.</h3></div>
    <div class="col-md-6 col-6 col-lg-6">Invite your friends and earn<br>little commision on his/her first purchase.</div>
</div>

<div class="row">
<div class="col">
    <button class="inviteButton">Invite now</button>
</div>
</div> -->

<div class="row" >
    <table style="margin: auto;">
        <tr>
            <td>
                <h3 >Invite your friends</h3>
            </td>
        </tr>
        <tr>
            <td><h3 >&earn.</h3></td>
            <td><p>Invite your friends and earn<br>little commision on his/her first purchase.</p></td>
        </tr>
        <tr>
            <td>
                <button class="inviteButton">Invite now</button>
            </td>
            <td>
                <img src="../../assets/footerImage.PNG" alt="">
            </td>
        </tr>
    </table>

</div>