<div style="height:70vh">
<div class="row product p-0" *ngFor="let data of ordersData | paginate: { itemsPerPage: 2, currentPage: p }" >
   
    <div class="col-3 col-md-3 col-lg-3 " style="padding-top: 20px;">
        <div class="row justify-content-center" >
            <img src="{{data.product_img_path}}" alt="product imgs" style="height: 75px; width: 75px; border-radius: 5px;">
           
        </div>
        <div class="row justify-content-center" >
            {{data.price}}
           
        </div>
        <div class="row justify-content-center" >
            {{data.ordered_date}}
           
        </div>
        
       
    </div>
    <div class="col-6 col-md-6 col-lg-6" style="padding-top: 20px ">
        <div class="row justify-content-center" >
            {{data.product_description}}
        </div>
        <div class="row justify-content-center">
            <span *ngIf="data.status === 'pending'" style="color: #ffbb76; font-weight: bold;">₹{{data.cashback}}  Awaited </span>
            <span *ngIf="data.status === 'success'" style="color: #00c851; font-weight: bold">₹{{data.cashback}}  Credited </span>
            <span *ngIf="data.status === 'cancel'" style="color: red; font-weight: bold">₹{{data.cashback}}  Returned </span>
        </div>
        <div class="row justify-content-center" >
            Expected by: {{data.expected_date}}
        </div>
    </div>
    <div class="col-3 col-md-3 col-lg-3" style=" padding-top: 20px">
        <div class="row justify-content-center">
            <img src="{{data.store_img_path}}" alt="product imgs" style="height: 100px; width: 100px;">
        </div>
       
        

    </div>

</div>
</div>
<pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>