<div class="container" style="height: 75vh; margin-top: 30px;">
    <form >
        <div class="row justify-content-center">
            
            <h1>Make your own Profit Link</h1>
        
        </div>
        <div class="row justify-content-center">
        
            <p class="text-info fs14">Paste a link from our Partner Shopping Sites in the Box below to make a link and share it.</p>
        </div>
        <div class="row justify-content-center">
            <a href="#"> <button class="btn btn-outline-success btn-sm" type="button">SEE PARTNERS & PROFIT RATES</button></a>
        </div>
        <div class="row justify-content-center">
            <div class="col-8 input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text text-success"><i class="fas fa-link fs18"></i></span> 
                </div>
                <input type="text" class="form-control form-control-lg" name="makeurl" id="dealurl" placeholder="Paste Link" required>
        </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <button class="btn btn-success btn-lg w-100" id="createLinkBtn">Create Link</button>
            </div>
        </div>
    </form>
</div>
   