
.form {
  position: relative
}

.form .fa-search {
  position: absolute;
  top: 14px;
  left: 20px;
  color:#4fb372;
 
}



.form .fa-microphone {
  color: #4fb372;
}

.form span {
  position: absolute;
  right: 17px;
  top: 10px;
  padding: 2px;
  border-left: 1px solid #d1d5db
}

.left-pan {
  padding-left: 7px
}

.left-pan i {
  padding-left: 10px
}


.form-input {

  text-indent: 33px;
  border-radius: 40px;
  background-color: #e5f4ea;
  
}

.form-control::placeholder{
  color: #57b679;
}


.categoryButton{
  background-color: white;
  color: #4fb372;
  border: 2px solid #cae7d3;
  border-radius: 15px;
  font-size: 15px;
  height: 40px;
  width: auto;
  display:inline-block;
  margin: 20px;
}

.categoryButton:hover, .categoryButton:active{
  background-color: #4fb372;
  color: white;
}

.categoriesScroll::-webkit-scrollbar {
  display: none;
}
.categoriesScroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



#imageContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



